body {
    height: 100vh;
    margin: 0;
    position: relative;
    border-top: 5px outset black;
    border-bottom: 5px outset black;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/wood-150384_1920.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7; 
    z-index: -1;
}
.navbar {
    border-bottom: 5px inset rgb(87, 87, 87); 
    background: linear-gradient(to right, rgb(139, 124, 98), rgb(162, 159, 159)); 
    
}
footer{
    border-top: 5px inset rgb(87, 87, 87); 
    background: linear-gradient(to right, rgb(139, 124, 98), rgb(162, 159, 159)); 
}
.texto{
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.texto h1{
    border-bottom: 1px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}
.telefono {
    margin-bottom: 10px; 
}
.redes-sociales a {
    display: inline-block; 
    margin: 0 10px; 
}
.redes-sociales img {
    width: 30px; 
}
#nombreLogo{
    text-align: center;
}
#navbarNav{
    width: 50%;
}
.container{
    background-color: rgba(245, 245, 245, 0.615);
}
.contenido{
    height: 80vh;
    margin: 0;
    text-align: center;
}
.nombreEmpresa{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:red;
    text-shadow: 2px 2px 2px green;
    padding-top: 5px;
}
#menuNav {
    margin-left: auto;
}
.navbar-toggler{
    margin-left: auto;
}
li{
    padding-left: 2px;
}
.imagen-carrusel{
    border-radius: 15%;
    opacity: 0.9;
    border: 5px rgb(87, 87, 87) outset;
}
  @media (max-width: 768px) {
    #nombreLogo h6 {
        display: none;
    }
}
.telefonoRes{
    display: none;
    padding-left: 5%;
}
@media (max-width: 768px) {
    .telefonoRes {
        display:flex;
    }
}
a{
    text-decoration: none;
}